.footer-container{
    display: grid;
    width: 100%;
    gap: 15px;
    background-color: #7F016F;
    border: 1px solid rgb(92, 32, 32);
    grid-template-areas: "ft ft";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

}
.footer-item{
    justify-content: center;
    justify-self: center;
    padding: 15px;
    grid-area: ft;
    color: rgb(250, 250, 250);
}
.footer-item a{
    color: whitesmoke;
}